.login-form {
  float: left;
  width: 350px;
  background-color: #fff;
  margin-top: 10px;
  padding: 21px 20px;
}
.login-form-title {
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 10px;
}
.login-form-user input {
  height: 60px;
  border-radius: 0;
  font-size: 14px;
  padding-left: 30px;
}
.login-form-icon {
  position: absolute;
  left: 5px;
  top: 20px;
  font-size: 24px;
}
.login-form-captcha {
  overflow: hidden;
  font-size: 0;
}
.login-form-captcha-input {
  display: inline-block;
  vertical-align: top;
}
.login-form-captcha-input input {
  font-size: 14px;
  height: 60px;
  width: 100px;
}
.login-form-captcha-img {
  vertical-align: top;
  height: 60px;
  width: 100px;
  display: inline-block;
  margin: 0 10px;
}
.login-form-captcha-link {
  vertical-align: top;
  height: 60px;
  line-height: 60px;
  font-size: 14px;
  text-align: center;
  text-decoration: underline;
  display: inline-block;
}
